@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
}

html {
  background-color: hsl(216, 12%, 8%);
}

#star-icon {
  box-sizing: content-box;
  margin: 1em 0;
  padding: 15px;
  background-color: #252E37;
  border-radius: 50%;
}

.form-container {

}

.rating-form {
  margin: auto auto;
  width: 500px;
  background-color: #212832;
  color: white;
  /* border: 2px solid white; */
  border-radius: 30px;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.rating-form h3 {
  font-size: 2em;
}

.rating-form h3, #star-info {
  margin: 1em 0;
}

.form-items-width {
  margin: auto;
  width: 440px;
}


#star-info {
  width: 90%;
  line-height: 1.5em;
  font-size: 1.1em;
}

.star-button {
  padding: .5em 0;
}

.star-button button[type="button"] {
  border-radius: 50%;
  padding: 20px 25px;
  color: hsl(217, 12%, 63%);
  background-color: #252E37;
  border: none;
  font-size: 15px;
  transition: ease 0.2s;
}

.star-button button:hover {
  background-color: #fb7413;
  color: white;
}

.star-button button:active {
  background-color: white;
}

.star-button {
  display: flex;
  justify-content: space-between;
}

.rating-form button[type="submit"] {
  margin: 30px auto;
  width: 80%;
  height: 48px;
  border: none;
  border-radius: 32em;
  font-size: 20px;
  color: white;
  background-color: #fb7413;
}