@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
}

html {
  background-color: hsl(216, 12%, 8%);
}

.form-container {

}

.rating-form {
  margin: auto auto;
  width: 450px;
  background: linear-gradient(#252d37, #121417);
  color: white;
  border: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.rating-form > h3, #star-info {
  margin: 1em 1em;
}

#star-info {
  width: 80%;
}

.rating-form button[type="button"] {
  border-radius: 32em;
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 19%, 18%);
  border: none;
  font-size: large;
}

.star-button {
  display: flex;
  justify-content: space-around;
}

.rating-form button[type="submit"] {
  margin: 10px auto;
  width: 80%;
  height: 48px;
  border-radius: 32em;
  font-size: 20px;
  color: white;
  background-color: hsl(25, 97%, 53%);
}