.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html {
    background-color: #E1ECF4;
}

.position-box {
    height: 50em;
}

.box-container {
    width: 40em;
    
    margin: 10em auto;
    background-color: #ffffff00;
    
}

.top-row {
    padding: 2em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.31);
}

.bottom-row {
    display: flex;
    flex-wrap: nowrap;
    
}

.bottom-row .bot-e-1 {
    flex: 50%;
    background-color: #05A5A3;
    padding: 2em;
    text-align: center;
    border-bottom-left-radius: 1em;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.31);
}

.bottom-row .bot-e-2 {
    flex: 50%;
    background-color: #28B3B2;
    padding: 2em;
    border-bottom-right-radius: 1em;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.31);
}